<nav class="ea-menu">
    <div class="ea-menu-left">
        <a href="?page=home" class="ea-logo">EA</a>
    </div>

    <ul class="ea-menu-list">
        <li><a class="ea-menu-link" data-page="home" href="?page=home">Accueil</a></li>
        <li><a class="ea-menu-link" data-page="about" href="?page=about">À propos</a></li>
        <li><a class="ea-menu-link" data-page="expertises" href="?page=expertises">Expertises</a></li>
        <li><a class="ea-menu-link" data-page="portfolio" href="?page=portfolio">Portfolio</a></li>
        <li><a class="ea-menu-link" data-page="launch-lab" href="?page=launch-lab">Launch Lab</a></li>
    </ul>
</nav>
