<nav class="ea-menu">
    <ul class="ea-menu-list">
        <li><a class="ea-menu-link" data-page="home" href="?page=home">Home</a></li>
        <li><a class="ea-menu-link" data-page="about" href="?page=about">About</a></li>
        <li><a class="ea-menu-link" data-page="expertises" href="?page=expertises">Expertises</a></li>
        <li><a class="ea-menu-link" data-page="portfolio" href="?page=portfolio">Portfolio</a></li>
        <li><a class="ea-menu-link" data-page="vision" href="?page=vision">Vision</a></li>
        <li><a class="ea-menu-link" data-page="contact" href="?page=contact">Contact</a></li>
    </ul>
</nav>
